{% load staticfiles %}

<html>
<head>
  <link rel=icon href=/static/favicon.ico>
  <link rel="stylesheet" type="text/css" href="{% static 'scikitbox/main.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'scikitbox/bootstrap.css' %}" />
</head>
<body>

<div class="container-fluid wrapper">
<div id="loginlogout">
  <span style="color:white">{{ request.user.username }} ||||
{%  if not perms.scikitbox.image_rights %}
     Base permissions
  {%  endif %}
   </span>
  <a href="/login"> login</a>
<a href="/logout"> logout</a>
</div>
{% block content %}{% endblock %}
</div>

</body>
</html>