{% extends "scikitbox/base.html" %}
{% load staticfiles %}


{% block content %}
<div class="row blue1">
	<div class="col-xs-12">	
		<h4> Test Gallery </h4>

		<div id='testImages' style="display:block">
		{% for image_url in test_images %}
			<img src={{image_url}} height='50' width='50' >
		{% endfor %}
		</div>
    {%  if perms.scikitbox.image_rights %}
		<form action="/box/uploadSingle" method="post" enctype="multipart/form-data">
		    Select a file: <input type="file" name="upload" /><br/>
		    <input type="submit" value="upload to gallery" />
		</form>
		<a href="/box/clearTest"> clear test gallery </a>

    {%  endif %}
			
	</div>
 </div> <!-- end row -->

 <div class="row green1">
	<div class="col-xs-6">
		{%  if perms.scikitbox.image_rights %}

    <h4> Collect training data </h4>
		
		<form action='/box/setupTraining' method="POST">
		  Collect Images with keywords : <input type="text" name="training_keywords" />
		  <br/>
		  <input type="radio" name="classifier" value="positive" checked>Pos<br>
		<input type="radio" name="classifier" value="negative">Neg <br>

		  <input type="submit" value="collect!" />
		</form>
        <div> <h4> Pos collected :  {{pos_image_count}} </h4>
			<a href="/box/viewPositive"> view pos</a> <br/>
			<a href="/box/clearPositive"> clear pos</a>
		</div>
		<div> <h4> Neg collected : {{neg_image_count}} </h4>
			<a href="/box/viewNegative"> view neg</a> <br/>
			<a href="/box/clearPositive"> clear neg</a>
		</div>

    {%  endif %}
	</div>

	<div class="col-xs-6">
        <h4> Draw </h4>
        <div>
        <canvas class="sketchpad" id="sketchpad"><canvas>
        </div>

        <a id="clearImage">Clear image </a> <br>
        <a id="submitImage">Submit image </a>

	</div>	
 </div> <!-- end row -->

 <div class="row green-light">
	<div class="col-xs-6">
    {%  if perms.scikitbox.image_rights %}

		<h4> Normalize the Pos/Neg data </h4>
		<form action='/box/normalizeTraining' method="POST">
		  <input type="submit" value="normalize" />
		</form>
    <p> MNIST classifier is trained for white digit on black background</p>
    <a href="/box/invert?type=pos"> invert color for pos </a> <br>
    <a href="/box/invert?type=neg"> invert color for neg </a> <br>
     {%  endif %}
	</div>
	<div class="col-xs-6 earthy" >
		<h4> Match against data (Normalize first)</h4>

    <a href="/box/match?type=test"> match test </a> <br>
    <a href="/box/match?type=pos"> match pos </a> <br>
		<a href="/box/match?type=neg"> match neg </a> <br>
	</div>
 </div> <!-- end row -->



</div> <!-- end container -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<script src="{% static "scikitbox/sketchpad.js" %}"></script>

<script>
$(document).ready(function () {
  var sketchpad = makeSketchpad();
  $('#submitImage').click(uploadImage);
  $('#clearImage').click(makeSketchpad);
});

var uploadImage = function(){
    var sketchpad = document.getElementById("sketchpad");
    var dataURL = sketchpad.toDataURL();
    $.ajax({
        type: "POST",
        url: "{% url "save_image" %}",
        data:{
            imgBase64: dataURL
        }
    }).done(function(data){
        var img_html = '<img src="'+data.url+'" height="50" width="50">';
        $("#testImages").append(img_html);
    }); //end ajax
};

function makeSketchpad(){
    new Sketchpad({
            element: '#sketchpad',
            penSize: 20,
            color: '#FFF',
            width: 200,
            height: 200
        });
    ctx=document.getElementById("sketchpad").getContext("2d");
    ctx.fillStyle = "black";
    ctx.fillRect(0, 0, $(window).width(), $(window).height());
}

</script>
{% endblock %}
