{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'scikitbox/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'scikitbox/bootstrap.css' %}" />

<div class="container-fluid wrapper">
	{% for result in image_clf_results %}
    <div class="match-result positive">

		Normalized/Original: 
		<img src={{result.test_url}} align='right' width='100' height='100'>
		<br/>
		Image classified as <h2>  {{result.data.max_index }}</h2>
        with predictions:
        <div style="display:block"
        {% for p in result.data.predictions %}
            {{ p }} <br>
        {% endfor %}
        </div>

	</div>
	{% endfor %}
    <a href="{% url "index" %}"> Back </a>
</div>